.card {
    width:300px;
    height:300px;
    border:2px solid black;
    border-radius: 5px;
}
img {
    width:100%;
    border-radius: 5px 5px 0;
    box-shadow: 2px 2px solid black;
    transition: 0.5s;
}
img:hover {
    box-shadow: 4px 4px solid black;
}
