h2 {
    color:coral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
    width: 500px;
    height: 300px;
    position: relative;
    top:300px;
    bottom:300px;
    left:500px;
    right:300px;
    box-shadow: 2px 2px 10px black;
    transition:0.5s;
}
img:hover {
    box-shadow: 4px 4px 10px orange;
}
a {
    text-decoration: none;
    color:darkgoldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
     color:coral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}
